
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html{
    font: size 10px;
    font-family:'Oswald', sans-serif;
}
a{
    text-decoration: none;
}
.container {
    min-height: 90vh;  /*height of box */ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

       
.navbar {
    overflow: hidden;
    background-color: transparent;
    opacity: 1;
    margin:12px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

p { 
    /* color:white; */
    text-align: left;
    font-size: 17px;
    line-height: 1.9rem;
}

/*Hero Section */
#hero{
 background-image: url(https://img.freepik.com/free-vector/blue-technology-background-with-circuit-diagram_115579-824.jpg?size=626&ext=jpg);
   background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height:100%;
    width: 100%;
    background-color: black;
    opacity: .2;
    z-index: -1;
}
     #hero .hero{
         max-width: 1200px;
         margin: 0 auto;
         padding: 0 50px;
         justify-content: flex-end;  /*use to move Hello message to the right */
         
  
     }
    #hero h1{
        display: block;
        width: fit-content;
        font-size: 5.9vw;
        font-weight: 550;
        position:relative;
        color: transparent;
        animation: text_reveal .7s ease forwards;
        animation-delay: 1ss;
        background-color: transparent;
 
    }
    #hero h1:nth-child(1){
        animation-delay: 1s;
    }
    #hero h1:nth-child(2){
        animation-delay: 2.5s;
    }
    #hero h1:nth-child(3){
        animation: text_reveal_name .5s ease forwards;
        animation-delay: 4s;
         
    }
    #hero h1 span{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background-color: transparent;
        animation: text_reveal_box 1s ease;
        animation-delay: .5s;
    }
    #hero h1:nth-child(1) span{
        animation-delay: .5s;
    }
    #hero h1:nth-child(2) span{
        animation-delay: 2s;
    }
    #hero h1:nth-child(3) span{
        animation-delay: 3.5s;
        
    }

    #hero .cta {
        display: inline-block;
        padding: 10px 30px;
        color: white; 
        background-color: transparent;
        border: 3px solid rgb(27, 113, 102); 
        font-size: 2.7vw;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 30px;  
        margin-left: 50px;
        transition: .5s ease background-color;
        transition-property: background-color, color;
       
    }
    #hero .cta:hover{
        background: purple;
        color: white;
        -webkit-box-reflect:below 1px linear-gradient(transparent, rgba(247, 236, 236, 0.333)); 
    }

/*End Hero Section */


.responsive {
    max-width: 100%;
    height: auto;
}
/* @media only screen and (max-width: 705px) {
    .h1,.h2.h3,.p,.img-wrapper {
      width: 49.99999%;
      margin: 6px 0;
    }
} */


h1,
h2,
h3,
p {
    text-align: -webkit-center;
    color:white;
    padding: 3px;
    /* background-color: black; */
    margin: auto;
    /* max-width: fit-content; */

}
    

#para1 {
    text-align: center;
    color: whitesmoke;  
}


/* Projects Section */

/* End Projects Section */



/*Keyframes */
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100%{
        color: white;
    }
}
@keyframes text_reveal_name {
    100%{
        color: #9922af;
        font-weight: 500px;
    }
}
/*End Keyframes */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    font-family:'Oswald', sans-serif;
}

section .footer {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 5em;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #080707;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 70px 15px;   /*added top margin to footer */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Oswald', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #365dba;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #524949;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
    margin-left: 2em; 
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color: #1440a7;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
  text-align: center;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #06090b;
	border-radius: 2px;
    
	font-size: 25px;
	color: #ffffff;
	text-align-last: right;
	line-height: 35px;

	/* margin-right: 8px; */
	margin-bottom: 8px;
    /* margin-left: 28px; */
}

/* to make the footer be responsive to media, keep these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
       /*end of copy code for footer*/


       /*start of copy of projects */
      
       div.projects {
        margin: 10px;
        padding:12px;
        background-color: hsl(225deg 72% 39%);
        border-radius: 10px;
      }
      
      div.projects:hover {
        border: 1px solid #777;
      }
      
      div.projects img {
        width: 100%;
        height: auto;
      }

    img {
      min-height: 20%;
      max-height: 400px;  /*used to pic from disapearing when shrinking screen */
      max-width: 100%;
      min-width: 150px;
      object-fit: cover;
      flex-shrink: 0;  /*try to use to prevent pic from vanishing when shrinking screen...not working */ 
   }
      
      div.image-description  {
        padding: 10px;
        text-align: center;
        color:#ddd;
        font: small-caption;
        letter-spacing: .02em;
        white-space: break-spaces;
        
      }
      
      * {
        box-sizing: border-box;
      }
      
      .responsive {
        padding: 1rem;
        margin:auto;
        float: right;
        width: 25%;
      }
      
      @media only screen and (max-width: 700px) {
        .responsive {
          width: 49.99999%;
          margin: 6px 0;
        }
      }
      
      @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
      }

      .clearfix {
          background: #06090b;
          padding-bottom: 4em;
        
      }
      
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
       
      }

      .projects-wrapper {
        /* height: 100vh; */
        /*This part is important for centering*/
        display: grid;
        place-items: center;
        color:rgb(27, 113, 102);
        background-color: #06090b;
        padding-bottom: 40px;
      }
      
      .typing-demo {
        width: 9.5ch;
        animation: typing 2s steps(22), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-family: oswald;
        font-size: 5.7vw;
      }
      
      @keyframes typing {
        from {
          width: 0
        }
      }
          
      @keyframes blink {
        50% {
          border-color: transparent
        }
      }
     
      /*start of copy of about me  */ 
      #about-me {
        background-color: #06090b;
     }

     #about-me .about-me {
        flex-direction: row;
        text-align: center;
        max-width: 1200px;
        margin: auto;
        padding-left: 100px 20px;
        background-color: #33383b;
     }
     #about-me .col-left{   /*image*/
        width: 600px;
        height: 400px;
        padding-left: 60px;
     }
     #about-me .col-right{
        width: 100%;
     }
     #about-me .col-right h3 {
        font-size: 5.9vw;
        font-weight: 500;
        letter-spacing: .2rem;   
        margin-bottom: 10px;
        color: #9922af;
     }
     #about-me .col-right h4 {
        font-size: 2.7vw;
        font-weight: 500;
        letter-spacing: .2rem;   
        margin-bottom: 10px;
        color: rgb(27, 113, 102);
        padding-left: 38px;
     }
     #about-me .col-right p{
        margin-bottom: 20px;
        display: -webkit-inline-box;
        color: white;
        line-height: normal;
        font-size: 1.5vw;
        word-spacing: 1.5px;
     }
 
     #about-me .col-left .about-me-img {
        max-height: max-content;  /*100% */
        max-width: max-content;   /* 100% */
        position: relative;
        border: 10px double rgb(229, 233, 222);
        left: -50px;
        top: 35px; 
        z-index: 1;
        flex-shrink: 0;   
     }
     #about-me .col-left .about-me-img::after {
        content:'';
        position: absolute;
        left: -45px;
        top:34px;
        height: 100%;
        width: 98%;
    
     }
     #about-me .col-left .about-me-img::after{
        border: 7px double #4022af;
        z-index: -1; 
     }
    
     #about-me .col-right {
        text-align: left;
        padding: 55px;
     }
     #about-me .col-right h3 {
        text-align: left;
     }

     #about-me .about-me-container {
        min-height: 85vh;
        width: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
        padding-bottom: 100px;
        padding-left: 120px;
        padding-right: 100px;
        padding-top: 60px;
     }

     #about-me .about-me-resume-button {
   display: inline-block;
   padding: 10px 40px;
   color: white;
   background-color: transparent;
   border: 2px solid rgb(27, 113, 102);
   font-size: 1.2vw;
   text-transform: uppercase;
   letter-spacing: .1rem;
   margin: 2.0rem;
   transition: .5s ease background-color;
   transition-property: background-color, color;
     }

  #about-me .about-me-resume-button:hover{
    color: white;
    background-color: purple;   
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-left, .col-right {
    width: 100%;
  }
  
}